.dropdown{
  padding-right: 25px;
}

.nav-link{
 font-size: larger;
 

}
.card-body{
  margin-left: 2px;
  margin-right: 2px;
}
h1{
  margin-left: 8px;
}
h3{
  margin-left: 8px;
}
.btn{
  margin-right: 8px;
}
.pagination{
  margin-right: 10px;
}
.card{
  margin-left: 8px;
  margin-right: 8px;
}
/* td{
 font-size: 10px !important;
} */
#cardform{
  margin-right: 25%;
  margin-left: 25%;
}
.form-label{
  margin-left: 12px;
}
.form-control{
 
 margin-right: 12px !important;
} 

.card1{
 margin-left: 25%;
 margin-right: 25%;
 margin-top: 20px;
 border-radius: 2px solid black;
}
.form-control{
  width: 20%;
}
.submit1{
 
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
a{
  text-decoration: none;
}
.lands{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
.forms{
margin-left: 30%;
margin-right: 30%;
}
.buttons1{
 display: flex;
 justify-content: space-between;
 margin-bottom: 15px;
}
.container
{

 margin-top: 10px;
 margin-bottom: 10px;

}
.duration{
  margin-left: 9px;
}
.col-4{
  margin-top: 10px;
  margin-bottom: 5px;
}
.links{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
